/target/

# Eclipse Specific
.classpath
.project
.settings/
.idea
*.iml
.sts4-cache
annot8-common-components/target
annot8-common-data/target
annot8-common-implementations/target
annot8-common-utils/target
annot8-common-jackson-serialisation/target
*.versionsBackup
annot8-common-pipelines/target
